<template>
  <div class="bids">
    <div class="card">
      <div class="card-header">Ставки</div>
      <div class="card-body">
        <div class="bids" v-if="bids.length">
          <div class="bid" v-for="bid in bids">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <div class="performer d-flex">
                      <div class="customer-avatar mb-3"
                           :style="{'background-image': `url(${bid.performer.profile.avatar})`}">
                      </div>
                      <div class="info pl-2">
                        <a :href="urlUserEdit(bid.performer)" class="fio">{{ bid.performer.full_name }}</a>
                        <br>
                        <span>{{ bid.performer.profile.reviews_count }} отзывов</span>
                      </div>
                    </div>
                    <div class="chat-lnk" v-if="bid.chat">
                      <a :href="AdminResourceLinks.order(order).chat(bid.chat.id)" class="btn btn-info btn-sm">Чат</a>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="price-deadline">
                      <span class="badge badge-secondary p-2" title="ставка">{{ bid.bid_with_currency }}</span>
                      <span class="px-3"></span>
                      <span class="badge badge-secondary p-2" title="срок выполнения">{{ bid.deadline }}</span>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="actions text-right">
                    <span class="delete" v-on:click="deleteBid(bid)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="no-bids" v-else>Ставок нет</div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminResourceLinks from '../../Services/Url/AdminResourceLinks'

export default {
  name: "bids",
  props: ['order'],
  mounted() {
    this.loadBids();
    setInterval(() => {
      this.loadBids()
    }, 10 * 1000)
  },
  data() {
    return {
      AdminResourceLinks,
      bids: []
    }
  }, methods: {
    loadBids() {
      this.axios.get(AdminResourceLinks.order().bids(this.order.id).show()).then(({data}) => {
        this.bids = data.data;
      })
    },
    deleteBid(bid) {
      this.$confirm({
        message: 'Удалить ставку?',
        button: {yes: 'Удалить', no: 'Отмена'},
        callback: (confirm) => {
          if (!confirm) {
            return false;
          }
          this.axios.delete(AdminResourceLinks.order().bids(this.order.id).delete(bid.id))
              .then(({data}) => {
                this.$notify(data.message)
                if (data.status === 'success') {
                  this.bids.splice(this.bids.indexOf(bid), 1)
                }
              })
        }
      })
    },
    urlUserEdit(user) {
      return AdminResourceLinks.user(user).edit()
    },
    //
  }
}
</script>

<style lang="scss">
.delete {
  padding: 3px 5px;
  //width: 24px;
  cursor: pointer;
  border: 1px solid #a2b4ba;
  border-radius: 5px;
}
</style>