<template>
  <div class="row" v-if="order">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h3>{{ order.title }}</h3>
          <div class="description">
            {{ order.description }}
          </div>
          <div class="order-info mt-2">
            <span class="font-weight-bold">{{ order.price_with_currency ? order.price_with_currency : 'Цена не указана' }}  </span>
            <span class="px-1">·</span>
            <span> {{ order.city.name }} </span>
            <span class="px-1">·</span>
            <span>{{ order.category.name }}</span>
            <span class="px-1">·</span>
            <span>{{ getDateFormatted() }}</span>
          </div>
          <div class="d-flex justify-content-between  ">
            <div class="preview-link mt-2">
              <a target="_blank" :href="urlOrderPreview(order)" class="btn btn-primary"
              >Смотреть сделку</a>
            </div>
            <div class="loggle-is_active mt-2">
              <span v-if="order.is_active" class="btn btn-danger" v-on:click="toggleActive">Отключить сделку</span>
              <span v-else class="btn btn-info" v-on:click="toggleActive">Включить сделку</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card" v-if="performer">
        <div class="card-header">Выбранный исполнитель</div>
        <div class="card-body">
          <div class="d-flex">
            <div class="customer-avatar mb-3" :style="{'background-image': `url(${performer.profile.avatar})`}">
            </div>
            <div class="info pl-2">
              <a :href="urlUserEdit(performer)" class="fio"> {{ performer.full_name }} </a>
              <br>
              <span>отзывов: {{ performer.reviews_count }} </span>
            </div>
          </div>
        </div>
      </div>
      <bids :order="order"></bids>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex" v-if="customer">
            <div class="customer-avatar mb-3"
                 :style="{'background-image': `url(${customer.profile.avatar})`}">
            </div>
            <div class="info pl-2">
              <a :href="urlUserEdit(customer)" class="fio"> {{ customer.full_name }} </a>
              <br>
              <span> {{ customer.profile.reviews_count }} отзывов</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4>Проект опубликован</h4>
          <p>просмотров: {{ order.views }} </p>
          <p>ставок: {{ order.bids_count }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4>{{ order.status.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Bids from "./Bids";
import AdminResourceLinks from '../../Services/Url/AdminResourceLinks';
import DateHelper from "../../Services/Date/DateHelper"

export default {
  name: "order",
  components: {
    Bids
  },
  props: ['orderId'],
  mounted() {
    this.loadOrder();
    setInterval(() => {
      this.loadOrder()
    }, 15 * 1000)
  },
  data() {
    return {
      order: null,
      performer: null,
      customer: null,
    }
  },
  //
  methods: {
    loadOrder() {
      this.axios.get(AdminResourceLinks.order().show(this.orderId)).then(({data}) => {
        this.order = data.data;
        this.setPerformer();
        this.setCustomer();
      })
    },
    setPerformer() {
      if (typeof this.order.performer === 'undefined' || this.order.performer === null) {
        return false;
      }
      this.performer = this.order.performer;
    },
    setCustomer() {
      if (typeof this.order.customer === 'undefined' || this.order.customer === null) {
        return false;
      }
      this.customer = this.order.customer;
    },
    getDateFormatted() {
      return DateHelper.formatDistanceToNowStrict(this.order.published_at)
    },
    urlUserEdit(user) {
      return AdminResourceLinks.user(user).edit()
    },
    urlOrderPreview(order) {
      return AdminResourceLinks.order(order).preview()
    },
    toggleActive() {
      if (this.order.is_active) {
        this.$confirm({
          message: 'Отключить ставку?',
          button: {yes: 'Отключить', no: 'Отмена'},
          callback: (confirm) => { confirm ? this.toggleActiveRequest() : null;}
        })
      } else {
        this.toggleActiveRequest();
      }
    },
    toggleActiveRequest() {
      this.axios.patch(AdminResourceLinks.order(this.order).toggleActive()).then(({data}) => {
        this.$notify(data.message);
        this.order.is_active = !this.order.is_active;
      })
    },
    emptyMethod() {
    },
    //
  }
}
</script>

<style lang="scss">
.delete {
  padding: 1px 5px;
  cursor: pointer;
  border: 1px solid #a2b4ba;
  border-radius: 5px;
}
</style>