<template>
  <div class="container">
    <div class="messages">
    </div>
    <div class="row" v-if="chat">
      <div class="col-sm-8">
        <div class="card-body">
          <div class="card">
            <div class="history" v-chat-scroll="{always: false, smooth: true}">
              <div class="message card w-75 p-2 my-1" v-for="message in messages"
                   :class="getMessageCssClasses(message)">
                <div class="user d-flex" v-if="!isLastMessageOfUser(message.user_id)">
                  <img class="img-thumbnail" :src="getUser(message.user_id).profile.avatar" :width="40" alt="">
                  <p class="pl-3">{{ getUser(message.user_id).full_name }}</p>
                </div>
                <chat-message :message="message"></chat-message>
                {{ setLastMessage(message) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-4">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item" v-for="user in users">
                <img :src="user.profile.avatar" width="50" class="img-thumbnail" alt="">
                <span>{{ user.full_name }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card mt-4" v-if="order">
          <div class="card-header">{{ order.title }}</div>
          <div class="card-body">
            <div class="order-info mt-2">
              <span class="font-weight-bold">{{ order.price_with_currency ? order.price_with_currency : 'Цена не указана' }}  </span>
              <span class="px-1">·</span>
              <span> {{ order.city.name }} </span>
              <span class="px-1">·</span>
              <span>{{ order.category.name }}</span>
              <span class="px-1">·</span>
              <span>{{ getDateFormatted() }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminResourceLinks from '../../../Services/Url/AdminResourceLinks'
import lodash from 'lodash'
import ChatMessagesOrder from '../../../Services/Chat/ChatMessagesOrder'
import chatMessage from './ChatMessage'
import DateHelper from "../../../Services/Date/DateHelper"

export default {
  name: "chat",
  props: ['order'],
  components: {
    chatMessage
  },
  data() {
    return {
      chat: null,
      messages: [],
      users: [],
      lastLoadDate: null,
      DateHelper
    }
  },
  mounted() {
    this.updateLastLoadDate()
    this.axios.get(location.href + '?ajax')
        .then(({data}) => {
          this.chat = data.data;
          this.messages = this.reverseMessagesOrder(this.chat.messages.data);
          this.users = this.usersKeyBy(data.users);
        })
    setInterval(() => {
      this.loadMessages()
    }, 5 * 1000)
  },
  methods: {
    loadMessages() {
      this.axios.get(AdminResourceLinks.order(this.order).chatLoadMessages(this.chat.id), {params: {'date': this.lastLoadDate}})
          .then(({data}) => {
            this.updateLastLoadDate();
            data.data.forEach((message) => {
              this.pushMessage(message)
            })
          })
    },
    updateLastLoadDate() {
      this.lastLoadDate = DateHelper.now();
    },
    urlUserEdit(user) {
      return AdminResourceLinks.user(user).edit()
    },
    reverseMessagesOrder(messages = []) {
      return lodash.keyBy(messages.reverse(), 'id');
    },
    usersKeyBy(users) {
      return lodash.keyBy(users, 'id')
    },
    pushMessage(message) {
      this.$set(this.messages, message.id, message);
    },
    replaceMessages(messages) {
      messages.forEach(message => {
        this.pushMessage(message)
      })
    },
    setLastMessage(message) {
      ChatMessagesOrder.setLastMessage(message)
      return '';
    },
    isLastMessageOfUser(userId) {
      if (typeof ChatMessagesOrder.getLastMessage() === 'undefined') {
        return false;
      }
      return ChatMessagesOrder.getLastMessage().user_id === userId
    },
    getMessageCssClasses(message) {
      const classes = [];
      if (!this.isLastMessageOfUser(message.user_id)) {
        classes.push('mt-4')
      }
      return classes;
    },
    isMessageTypeFile(message) {
      return message.type === 'file';
    },
    getUser(id) {
      return this.users[id];
    },
    getDateFormatted() {
      return DateHelper.formatDistanceToNowStrict(this.order.published_at)
    },
    //
  }
}
</script>

<style lang="scss" scoped>
.right {
  margin-left: 25%;
}

.history {
  overflow-y: auto;
  max-height: 60vh;
  background-color: aliceblue;
}

.message {
  position: relative;
}

.del-message {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.3;
}

.toggleFavorite {
  cursor: pointer;
  color: #687ac1;
}

.attach {
  cursor: pointer;
}

.img-preview {
  max-width: 150px;
}
</style>