<template>
  <div class="categories">
    <div class="create">
      <div class="form-row">
        <div class="offset-7 col-4 mt-2">
          <input type="text" class="form-control" v-model="create.name" placeholder="Название">
        </div>
        <div class="col-1">
          <button class="btn btn-primary" @click="store()">Создать</button>
        </div>
      </div>

    </div>
    <div class="list" v-if="list">
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th></th>
        </tr>
        <tr v-for="category in list">
          <td>{{ category.id }}</td>
          <td><input placeholder="Название" class="form-control" type="text" v-model="list[category.id].name" name="name" v-on:change="update(category.id)">
          </td>
          <td>
            <i class="fa fa-times cursor-pointer" @click="destroy(category.id)"></i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import lodash from 'lodash'

export default {
  name: "news-categories",
  props: [
    'url',
    'list'
  ], mounted() {
    this.list = lodash.keyBy(this.list, 'id')
  },
  data() {
    return {
      create: this.initialStateCreate()
    }
  },
  methods: {
    initialStateCreate() {
      return {name}
    },
    buildUrl(id = null) {
      if (!id) {
        return this.url;
      }
      return `${this.url}/${id}`;
    },
    store() {
      this.axios.post(this.buildUrl(), this.create)
          .then(({data}) => {
            if (data.category) {
              this.$notify(data.message)
              this.$set(this.list, data.category.id, data.category);
              this.create = this.initialStateCreate();
            }
          })
    },
    update(id) {
      this.axios.put(this.buildUrl(id), this.list[id])
          .then(({data}) => {
            this.$notify(data.message)
          })
    },
    destroy(id) {
      this.$confirm({
        message: 'Удалить?',
        button: {yes: 'Удалить', no: 'Отмена'},
        callback: (confirm) => {
          if (!confirm) {
            return false;
          }
          this.axios.delete(this.buildUrl(id))
              .then(({data}) => {
                this.$notify(data.message)
                if (data.status === 'success') {
                  this.$delete(this.list, id);
                }
              })
        }
      })
    }
  }
}
</script>

<style scoped>

</style>